<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Welcome</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <p class="navbar-brand">Electric Bill Database Management System</p>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <!-- 6 -->
      <li><a href="/userlogin">User Login</a></li>
      <li><a href="/adminlogin">Admin login</a></li>
      <li><a href="/register">Register User</a></li>
    </ul>
  </div>
</nav>

<body>

  <div class="container">

    <div class="jumbotron">

      <h1 class="display-4">Electric Bill DBMS Project</h1>
      <p class="lead">This is a simple Electric Bill Database management system Project.</p>
      <hr class="my-4">
      <p>This Website is developed by using Node.js Web technology , MySql Database and Express.js Framework.</p>
      <!-- <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p> -->

    </div>

  </div>

</body>

</html>